.keep-app {
    display: flex;
    flex-direction: row;
}

@media(max-width:540px) {
    .keep-app {
        flex-direction: column;
        flex-flow: column-reverse;
    }
}

.notes-list {
    flex-grow: 2;
    /* overflow-y: scroll; */
}

.notes-add {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}
.add-note-img-preview{
    padding:10px 0;
}

.add-note-img-preview img {
    max-width: 100%;
}

.notes-add-input {
    display: flex;
}

.input-title {
    font-size: 1.8em;
    font-weight: 700;
    height: 1.5em;
    margin-bottom: 0.2em;
}

.notes-grid-container {
    column-count: 3;
    column-gap: 1em;
}

/* Masonry on large screens */

@media only screen and (min-width: 1024px) {
    .notes-grid-container {
        column-count: 3;
        padding-right: 20px;
    }
}

/* Masonry on medium-sized screens */

@media (max-width: 768px) {
    .notes-grid-container {
        column-count: 3;
    }
}

/* Masonry on small screens */

@media (max-width: 540px) {
    .notes-grid-container {
        column-count: 2;
    }
}

.note-card {
    flex-direction: column;
    justify-content: space-between;
    word-break: break-all;
    border: 1px solid #333;
    border-radius: 3px;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    transition: .3s;
}

.note-card:hover {
    border: 1px solid #61daf5;
}

.note-card-text {
    padding: 1rem;
    word-break: break-all;
}

.note-card-img {
    width: 100%;
}

.note-card-tools {
    padding: 1rem;
}

.btn-jscolor {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.btn-jscolor:focus {
    border: 0;
    outline: 0;
}

.btn-jscolor {
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    cursor: pointer;
}

.color-value {
    width: 19px;
    height: 19px;
    float: left;
    display: block;
}