@import url('keep-app.css');
@import url('nav.css');
/* Using a url */

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
    border-radius: 50%;
}

/* Track */

::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #333;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #888;
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #1b1b1b;
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
}

/* Typography */

h1 {
    font-weight: bold;
}

h2, h3, h4, h5, h6 {
    margin: 0 0 0.5rem 0;
}

/* Elements */

main {
    overflow-y: scroll;
}

header {
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

footer {
    position: relative;
    height: 80px;
    box-sizing: border-box;
    color: #999;
    font-size: 0.8em;
}

a {
    text-decoration: none;
    color: inherit;
}

.router-link-active {
    background-color: #f873a3;
}

input {
    background: #272727;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 3px;
    border: none;
    font-size: 1rem;
    color: #fff;
}

input:focus {
    outline-width: 1px;
    outline-color: #fcb515;
}

button {
    display: inline-flex;
    align-items: stretch;
    justify-content: center;
    background: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.8);
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

button:focus {
    outline: 0;
}

/* Layout */

.wrapper {
    max-width: 1280px;
    padding: 0 10px;
    margin: 0 auto;
}

.box-center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.main-container {
    padding: 10px 0;
    height: calc(100vh - 160px);
    box-sizing: border-box;
}

.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 100;
    z-index: -999;
}

.underline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 100;
    z-index: -999;
}

/* My elements */

.home {
    height: 100%;
    transition-delay: 2s;
}

.home button {
    min-width: 200px;
}

.lucky-cat {
    margin-bottom: 2rem;
}

.home-text {
    margin-bottom: 2rem;
}

.box-center {
    padding: 2rem;
    text-align: center;
}

.pink {
    color: #f873a3;
}

.logo-container {
    flex-basis: 300px;
}

.logo {
    text-transform: capitalize;
    transition: .6s;
    transition-timing-function: ease-in-out;
}

.logo-dim {
    font-size: 0.5em;
    position: absolute;
    top: -0.6em;
    left: 0;
    color: #666;
}

.logo-dim .heading-bullet {
    display: none;
}

.search-container {
    background: #272727;
}

.search-container:hover {
    background: #272727;
}

.search-container input:focus {
    outline: none;
}

.input-search {
    width: 400px;
}

.lucky-cat {
    max-width: 180px;
}

.heading-bullet:before {
    content: '▰'
}

.glow-input:focus {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0px 15px #fcb515;
}

.glow-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0px 15px #f873a3;
}

.btn-icon:before {
    background-size: 1.5em 1.5em;
    background-position: center;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    content: "";
    margin-right: 1em;
}

.btn-tool {
    background: transparent;
    padding: 0;
}

.btn-tool:before {
    margin: 0;
    background-size: 1.2em 1.2em;
    width: 1.2em;
    height: 1.2em;
}

.btn-search:before {
    background-image: url('../img/search.svg');
}

.btn-mail:before {
    background-image: url('../img/mail.svg');
}

.btn-keep:before {
    background-image: url('../img/lightbulb.svg');
}

.btn-trash:before {
    background-image: url('../img/trash.svg');
}

/* Helpers */

.flex {
    display: flex;
}

/* Animations */

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
}

.fade-enter, .fade-leave
/* .fade-leave-active below version 2.1.8 */

    {
    opacity: 0;
}

.ripple {
    background-position: center;
    transition: background 0.6s;
}

.ripple:hover {
    background: transparent radial-gradient(circle, transparent 1%, rgba(255, 255, 255, 0.05) 1%) center/15000%;
}

.ripple:active {
    background-color: none;
    background-size: 0%;
    transition: background 0s;
}

@keyframes initLine {
    from {
        opacity: 0;
        width: 5%;
        border-bottom: 1px dashed #61daf5;
    }
    to {
        opacity: 1;
        width: 100%;
        border-bottom: 1px solid #61daf5;
    }
}

.init-line {
    opacity: 0;
    /* make things invisible upon start */
    /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    animation: initLine ease-in-out 1;
    /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes myFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.my-fade-in {
    opacity: 0;
    /* make things invisible upon start */
    -webkit-animation: myFadeIn ease-in 1;
    /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: myFadeIn ease-in 1;
    animation: myFadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: .8s;
    -moz-animation-duration: .8s;
    animation-duration: .8s;
}

.fade-in.one {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.fade-in.two {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.fade-in.three {
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

/* Misc */